h1 {
    color: olive;
    text-align: center;
}

.form {
    text-align: center; 
    display: flexbox;
}

button {
        color: olive;
        margin-left: 5px;
  
}

img {
    width: 200px;
    padding: 5px;
} 